/* master styles */
body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    background-color: #202020;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* nav styles */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.nav-left-side {
    display: flex;
    margin-left: 45%;
}

.nav-wrapper > .nav-left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid #b73225 !important;
}

.nav-link-wrapper a:hover {
    color: #b73225 !important
}

.active-nav-link {
    border-bottom: 1px solid white;
}

.active-nav-link a {
    color: white !important;
}

.nav-right-side {
    display: flex;
}

.nav-wrapper > .nav-right-side > div {
    margin-left: 20px;
    font-size: 0.9em;
}

.brand {
    color: white;
    text-transform: uppercase;
}

/* footer styles */

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.footer-left-side {
    display: flex;
}

.footer-wrapper > .footer-left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.footer-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.footer-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.footer-link-wrapper:hover {
    border-bottom: 1px solid #b73225;
}

.footer-link-wrapper a:hover {
    color: #b73225
}

/* portfolio styles */
.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.img-text-wrapper .subtitle {
    transition: 0.5s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightsteelblue;
}

.img-text-wrapper .description {
    transition: 0.5s;
    font-weight: 400;
    color: transparent;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

.img-text-wrapper:hover .description {
    font-weight: 400;
    color: steelblue
}

.img-darken {
    transition: 0.5s;
    filter: brightness(25%);
}

/* kontakt page styles */

.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img{
    width: 100%;
}

.profile-content-wrapper {
    padding: 30px;
    padding-right: 60px;
}

.profile-content-wrapper h2 {
    color: lightsteelblue
}

.profile-content-wrapper p {
    color: black;
    line-height: 1.6;
    text-align: justify;
}

/* Impressum styles */

.single-column-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.policy-header-wrapper {
    padding: 30px;
}

.policy-header-wrapper h2 {
    color: lightsteelblue;
    text-align: center;
}

.policy-content-wrapper {
    padding: 30px;
    padding-right: 60px;
}

.policy-content-wrapper p {
    color: black;
    text-align: justify;
    line-height: 1.6;
    padding-left: 10%;
    padding-right: 5%;
}